.rights{
    float: right;
    padding-right: 1%;

}

.lefts{
    font-size: 110%;
}

.amount{
    font-size: 150% !important;
    color: #000000;
}

.top{
    padding: 5%;
}

.dates{
    color: #0f60b6;
    float: right;
}

.invoice{
    margin-top: 15%;
    margin-bottom: 10%;
}

.need{
    font-size: 70% !important;
    text-align: center !important;
}

.welcome{
    margin-right: 5%;
    float: right;
    padding-right: 5%;
}

.name{
    // color: #f7e924;
    font-weight: bold;
}
.app{
    color: #20d409;
}
.date{
    color: #5c4d26;
}

.bar{
    width: 100%;
    // height: 40%;
    background-color: #0f60b6;
    color: #ffffff;
    padding-top: 5%;
    padding-bottom: 7%;
    // box-shadow: 2px 2px 2px 2px #dfdfdf;
}